<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Template page</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Russia</h1>
            <nav>
                <a href="index.html">Hawii</a>
                <a href="Canada.html">Canada</a>
                <a href="Russia.html">Russia</a>
            </nav>
        </header>
        <main>
            <aside>
                <h2>The hat</h2>
                Ever since I saw the Russia winter hat I had always had a lowkey passion
                to one day go there. I first saw a russian hat at my school and it was very cool
                and warm looking. Everyone else had normal boring hats and a few with strings and such in it,
                but nothing compared to this hat. I fell in love with it and I eventually got one. Mine was a brown
                fur outside with an orange inside and I still have the hat to this day. I got this hat at
                least 8 years ago.
            </aside>
            <h2>Russia</h2>

            <p>Although I do not know much about Russia I do know I want to go there.
                I want to see those palace ball things from my two real eyes. I only know of these
                because they are in the game Tetris. I do know a little of there launguage, but
                there is no way I could hold a conversation or know what most of what they were saying
                was.
            </p>
            <img src="russia.jpg" height="500px" width="1050px" alt="hat" id="russia">
        </main>
        <footer>
            <p>&copy; Justin Langreck</p>
        </footer>
    </div>
</body>

</html>